<div class="extra-pagination">
  {{pagination}}
</div>

{{#foreach posts visibility="all"}}

<article class="{{post_class}}">
  <div class="inner">
    <div class="box post-box">
      <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
      <p class="post-excerpt">{{excerpt characters="500"}}</p>
      <div class="post-meta">
        <time datetime="{{date format='DD-MM-YYYY'}}">{{date format="MMM DD, YYYY"}}</time>
        <span class="post-meta-delimeter">·</span>
        {{#primary_tag}}{{t "in"}} <a class="post-meta-tag" href="{{url}}">{{name}}</a>{{/primary_tag}}
      </div>
    </div>
  </div>
</article>

{{/foreach}}

{{pagination}}
